.classHeader {
    background-color: #b71c1c;
    color: white;
}

.table td, .table th {
    vertical-align: middle !important;
}

#botones-left > .btn > .fa {
    display: contents !important;
}

#header > .row {
    margin-right: 0px !important;
    margin-left: 0px !important;
}

.btn-orange {
    background-color: #ef6c00 !important;
    border-color: #ef6c00 !important;
}

.fijar-r1 {
    position: sticky;
    top: 0;
}

.fijar-r2 {
    position: sticky;
    top: 31px;
}

.fijar-col1 {
    position: sticky;
    left: 0;
}

table {
    font-size: 12px !important;
}

.table td, .table th {
    padding: 0.35rem !important;
}

table > tbody > tr > td .form-control {
    /* min-width: 50px !important;*/
    /*   max-width: 70px!important; */
}

#ContentPlaceHolder1_Panel_8 > table > tbody > tr > td .form-control {
    min-width: 120px !important;
    max-width: 120px !important;
}

#ContentPlaceHolder1_Panel_7 > table > tbody > tr > td .form-control {
    min-width: 80px !important;
    max-width: 80px !important;
}

.form-control {
    font-size: 0.7rem !important;
}

.ColumnaOculta {
    display: none;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    /*    color: #fff;*/
    background-color: #b71c1c !important;
}

#v-pills-tab {
    /*    padding-top: 10em;
*/
}

#v-pills-tab {
    /*    position:fixed;
*/
}

.nav > input {
    max-width: 200px !important;
}

#menuGeneric_sie {
    margin-top: 25px;
}

#ContentPlaceHolder1_Tabla22 > tbody > tr > td .form-control, #ContentPlaceHolder1_Tabla28 > tbody > tr > td .form-control,
#ContentPlaceHolder1_Tabla29 > tbody > tr > td .form-control, #ContentPlaceHolder1_Tabla30 > tbody > tr > td .form-control,
#ContentPlaceHolder1_Tabla31 > tbody > tr > td .form-control, #ContentPlaceHolder1_Tabla41 > tbody > tr > td .form-control {
    max-width: 250px !important;
}

#ContentPlaceHolder1_Tabla39 > tbody > tr > td .form-control {
    max-width: 350px !important;
}


table tbody tr:first-child {
    background: #d32f2f!important;
    color:white;
}


.modal-body > table tbody tr:first-child {
    background: white !important;
    color: white;
}

.nav-pills > input {
    margin-left: 5px !important;
    margin-bottom: 3px !important;
}

.clase-scroll-250 {
    overflow: auto;
    height: 250px !important;
    margin-top: 15px !important;
}


.headTableRed {
    background: GRAY !important;
    color: white;
}

body {
    padding-right: 0px!important;
}